@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Berkshire+Swash & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200x;
    margin: 0 auto;
    background-color: #000;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000009f;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Galada', cursive;
    color: #47c91f;
    text-shadow: 0px 0px 5px #ffffffa4;
}

header a span.logo{
    text-decoration: none;
    color: #fff;
    font-family: 'Galada', cursive;
}

header .navegacao-primaria {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li {
    list-style: none;
}

header .navegacao-primaria li a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

header .navegacao-primaria li a:hover {
    color: #4de71e;
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .5s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #47c91f;
}


/* DOWNLOAD CV SECAO */

.inicio {
    animation: inicializar .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
    margin-top: 60px;
}

.inicio div {
    margin-top: 120px;
    align-items: start;
    display: grid;
    gap: 30px;
}

.inicio div h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #f7f7f7;
}

.inicio div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #f7f7f7;
}

.inicio div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: bold;
}

.inicio div a:hover {
    background-color: #111;
}

.inicio img {
    max-width: 100%;
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* SEÇÃO PRINCIPAL SOBRE MIM */

main {
    background-color: #111;
    color: white;
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre-titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}

.sobre-titulo h1 {
    font-size: 2.5rem;
    color: #4de71e;
    margin-bottom: 15px;
    font-family: 'Galada', cursive;
}

.sobre-titulo p {
    color: #505050;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre-titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre-titulo span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #47c91f;
}

.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre-conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre-texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre-texto h1 {
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre-texto h1::after{
    background-color: #47c91f;
    height: 6px;
    width: 60px;
    margin: 20px 0 ;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre-texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre-info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre-info i {
    color: #47c91f;
    display: inline;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre-info p {
    font-size: .9rem;
}

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

#btnTop {
    background-color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2.5rem;
}

/* RESPONSIVO */

@media(max-width: 700px) {
    .section-div img {
        display: none;

    }
}

@media(max-width: 900px) {
    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header .navegacao-primaria {
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.37), rgba(22, 22, 22, 0.767));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 5;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
        list-style-type: none;
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre-conteudo {
        grid-column: 1/-1;
    }

    .projetos {
        display: grid;
        grid-column: 2/-8;
    }

    .projetos ul li{
        display: none;
    }
    

    .projetos-armazenamento ul li {
        display: flex;
        justify-content: center;
        grid-column: 2/-1;
        width: 50%;
    }
}

/* SEÇÃO SERVICES */

.services {
    margin-top: -30px;
    padding: 60px;
    background-color: #151515;
}

.my-services {
    padding: 60px;
    color: white;
}

.my-services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center ;
}

.my-services ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 300px;
    align-content: center;
    height: 300px;
    background-color: #222;
}

.my-services ul li i {
    font-size: 2.7rem;
    color: #47c91f;
}

.my-services ul li h3 {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.my-services ul li p {
    color: #707070;
    font-size: 1.1rem;
}

.my-services li::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my-services li::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}



.my-services li:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid green;
    border-right: 2px solid green;
}

.my-services li:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
}

/* EXPERIENCIAS */

.resumo {
    color: #fff;
}

.resumo-generico {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resumo-generico h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: #359717;
    justify-self: start;
    padding: 10px;
    border-radius: 3px;
}

.resumo-generico h2 i {
    margin-right: 10px;
}

.experiencia {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experiencia-content ul {
    list-style-type: none;
    color: #47c91f;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resumo-generico .experiencia-content div {
    background-color: #222;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resumo-generico .experiencia-content div.ativo {
    display: block;
}

.resumo-generico .experiencia-content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resumo-generico .experiencia-content div span {
    color: #47c91f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.resumo-generico .experiencia-content div h3 {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.resumo-generico .experiencia-content div p {
    color: #707070;
    font-size: 1.1rem;
}

.experiencia-content ul li.ativo {
    color: #3e3d3d;
}

/* MEUS DIPLOMAS E CURSOS */

.resumo-generico .education-content div {
    background-color: #222;
    padding: 40px;
    display: none;
    animation: ladoSecao .5s ease-in-out forwards;
    position: relative;
}

.education-content ul {
    list-style-type: none;
    color: #47c91f;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resumo-generico .education-content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resumo-generico .education-content div span {
    color: #47c91f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.resumo-generico .education-content div h3 {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.resumo-generico .education-content div p {
    color: #707070;
    font-size: 1.1rem;
}

.education-content ul li.ativo {
    color: #3e3d3d;
}

.resumo-generico .education-content div.ativo {
    display: block;
}

/* CURSOS E SKILLS */

.cursos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.my-skill {
    display: grid;
}

.my-skill h2 {
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #47c91f;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-bottom: 30px;
    justify-self: start;
}

.my-skill h2 i {
    padding-right: 10px;
}

.skill-content {
    font-size: 1.5rem;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.skill-content h3 {
    font-size: 1.5rem;
}

.skill-content ul {
    list-style-type: none;
    display: flex;
    padding: 8px;
}


/* FUN FACTS */

.funfacts {
    grid-column: 3/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.funfacts h2 {
    grid-column: 1/-1;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: 'Poppings';
    background-color: #47c91f;
    margin-bottom: 30px;
    justify-self: start;
}

.funfacts h2 i {
    padding-right: 10px;
}

.funfacts ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.funfacts ul li {
    background-color: #222;
    border-radius: 3px solid #2f2b2b;
    display: grid;
    grid-template-columns: auto 1fr;
    align-self: start;
    width: 200px;
    height: 100px;
}

.funfacts ul li i {
    grid-row: 1/3;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
    color: #47c91f;
    border-right: 2px solid #3e3d3d;
}

.funfacts ul li span {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.funfacts ul li p {
    padding-left: 10px;
    color: #707070;
    font-weight: bold;
    font-family: 'Poppins';
}

@media (max-width: 1089px) {
    .resumo-generico, .experiencia-content, .education-content {
        justify-self: center;
        grid-column: 1/-1;
    }

    .resumo-generico .education {
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin: 30px 0;
    }
 
    .resumo-generico .experiencia{
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
    }

    .cursos {
        grid: 1fr;
    }

    .cursos .funfacts h2 {
        justify-self: center;
    }
    
    .cursos .funfacts {
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }

    .cursos .my-skill h2 {
        justify-self: center;
    }

    .cursos .my-skill {
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }
}

.projetos {
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 30px;
    background-color: #151515;
}

.projetos ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projetos-modelos ul li {
    cursor: pointer;
    font-family: 'Poppins';
    background-color: #222;
    border: 1px solid #333;
    padding: 6px 20px;
    color: #707070;
}

.projetos-modelos ul li.ativo {
    background-color: #47c91f;
    color: #151515;
    font-weight: bold;
}


.projetos-armazenamento ul {
    display: grid;
    margin-top: 60px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.projetos-armazenamento ul li {
    max-width: 100%;
    height: 100%;
}

.projetos-armazenamento ul li.ativo {
    animation: animationImagemButton 2s ease-in-out forwards;
}

.projetos-armazenamento ul li img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.projetos-armazenamento img:hover {
    filter: blur(3px);
}

.projetos a { 
    background-color: #222;
    text-decoration: none;
    justify-self: center;
    padding: 20px 40px;
    border: 1px solid #333;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
}

.projetos a:hover {
    background-color: #333;
}

@keyframes animationImagemButton {
    0% {
        opacity: 0;
        transform: translate3d(0, -80px 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, -0 0);
    }
}

/* FOOTER */

footer {
    background-color: #000;
    padding: 30px;
}

.footer-sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.footer-sociais li {
    background-color: #212020;
    border-radius: 50%;
    border: 1px solid #333;
}

.footer-sociais li i {
    padding: 30px;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.footer-sociais li:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #3e3d3d;
}

.footer-sociais::before {
    content: '';
    height: 5px;
    width: 200px;
    bottom: -30px;
    position: absolute;
    background-color: #222;
}

footer .footer-comercial {
    text-align: center;
    color: #fff;
    margin: 90px auto;
    font-size: 1.5rem;
}

